<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>7款CSS3制作美化的搜索框样式代码</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/css/normalize.css" />
<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/demo.css">
<link rel="stylesheet" href="/stylesheets/css/style.css">

</head>
<body onload="init()">

<div class="search d1" >
	  <form>
	  <input type="text" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	  </form>
	</div>
	<div class="search d2">
	  <form>
	  <input type="text" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	</form>
	</div>
	<div class="search d3">
	<form>
	  <input type="text" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	</form>
	</div>
	<div class="search d4">
	<form>
	  <input type="text" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	</form>
	</div>
	<div class="search d5">
	<form>
	  <input type="text" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	</form>
	</div>
	<div class="search d6">
	<form>
	  <input type="text" placeholder="搜索6从这里开始...">
	  <button type="submit"></button>
	</form>
	</div>
	<div class="search d7">
	<div style="position:relative">
	  <datalist id="search7DataList" ></datalist>
	  <input id="search_title" type="text" autocomplete="off" onfocus="autoCompleteDataList('search7DataList')"  list="search7DataList" placeholder="搜索文章标题...">
	  <button type="button" onclick='ajaxShowNodeListByTitle()'></button>
	</div>
</div>

</body>
<script>

</script>
</html>
